
__pycache__/
*.py[cod]
*$py.class

.poetry/

.venv/
venv/

.env

.idea/
.vscode/

.DS_Store

.pytest_cache/
.coverage

.ruff_cache/

storage/logs/*.log

storage/metrics/*.json

storage/rate_limit/*.json